@font-face {
    src: url("~/assets/fonts/NothingYouCouldDo-Regular.ttf");
    font-family: headingFont;
}

@font-face {
    src: url("~/assets/fonts/Rubik-Regular.ttf");
    font-family: textFont;
}

@font-face {
    src: url("~/assets/fonts/Rubik-SemiBold.ttf");
    font-family: textSemiBoldFont;
}

@font-face {
    src: url("~/assets/fonts/Rubik-Bold.ttf");
    font-family: textBoldFont;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
